body {
    font-size: 14px;
    color: #000;
    background-image: url('../img/ny-bg2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

blockquote {
	font-size: 15px;
}

div.transparent {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transparent95 {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.rounded {
    border-radius: 4px;
    border: 10px solid rgba(0,0,0,0.3);

    -moz-background-clip: border;     
    -webkit-background-clip: border;  
    background-clip: border-box;

    -moz-background-clip: padding;     
    -webkit-background-clip: padding; 
    background-clip: padding-box;

    -moz-background-clip: content;     
    -webkit-background-clip: content;  
    background-clip: content-box; 
}

div.carousel a, div.carousel a:hover {
	color: #fff;
}

iframe.video-left {
	float:left;
	margin-right: 10px;
}


